
*.vsidx
*.lock
*.vsidx
*.db
*.db-shm
.vs/svchost/v17/.suo
*.db-wal
*.opendb
*.ipch
*.obj
*.recipe
*.iobj
*.ipdb
svchost/x64/Release/svchost.ipdb
*.tlog
svchost/x64/Release/vc143.pdb
svchost/x64/Release/svchost.tlog/svchost.lastbuildstate
svchost/x64/Release/svchost.tlog/link.write.1.tlog
svchost/x64/Release/svchost.tlog/link.read.1.tlog
svchost/x64/Release/svchost.tlog/link.command.1.tlog
svchost/x64/Release/svchost.tlog/CL.write.1.tlog
svchost/x64/Release/svchost.tlog/CL.read.1.tlog
svchost/x64/Release/svchost.tlog/CL.command.1.tlog
svchost/x64/Release/svchost.log
svchost/x64/Release/svchost.ipdb
svchost/x64/Release/svchost.iobj
svchost/x64/Release/svchost.exe.recipe
svchost/x64/Release/main.obj
x64/Release/svchost.pdb
svchost/x64/Release/vc143.pdb
svchost/x64/Release/svchost.tlog/svchost.lastbuildstate
svchost/x64/Release/svchost.tlog/link.write.1.tlog
svchost/x64/Release/svchost.tlog/link.read.1.tlog
svchost/x64/Release/svchost.tlog/link.command.1.tlog
svchost/x64/Release/svchost.tlog/CL.write.1.tlog
svchost/x64/Release/svchost.tlog/CL.read.1.tlog
svchost/x64/Release/svchost.tlog/CL.command.1.tlog
svchost/x64/Release/svchost.log
svchost/x64/Release/svchost.ipdb
svchost/x64/Release/svchost.iobj
svchost/x64/Release/svchost.exe.recipe
svchost/x64/Release/main.obj
svchost/x64/Release/main.obj
svchost/x64/Release/svchost.tlog/CL.write.1.tlog
